@media screen and (min-width: 45em) {


// main section----------------------------------------------------------

header{

      &:after {
          display: block;
          background: red;
          width: 380px;
          min-height: 30px;
          content: '';
          position: absolute;
           top: 120px;
           left:0px;
           
          }

                p{
                  font-size:4em; 
                }
}



  section{
  	 max-width:900px;
     margin:0 auto;
          p{
            margin-left:5%;
            max-width: 80%;
         
            
          }

          .col10{
              h1{
                margin-left:55px;
              }

              p{
            
              margin-left:55px;
              }
          }

          .col6{
            display:block;

              h5{
                color:#b25b62;
                margin:108px 0 5px 36%;
                max-width: 54%;
                }

              .arrow-icon{
                  background: url("../images/arrow-icon.png");
                  background-repeat:no-repeat;
                  min-height:20px;
                  width:18%;
                  display:block;
                  margin:15px 0 5px 48%;
              }


              img{
                  max-width: 100%;
              }
          }
  }

// menu links--------------------------------------------------------------


.col16{
  float:left;

      h2{
        position:relative;
        left:115px;;
        }

      h3{
        position:relative;
        top:65px;
        
      }
      ul{
        display:block;
        margin:0 auto;
        overflow: hidden;
        margin:0 auto;
        width:100%;
        // border:1px solid green;
      }

      .link-left{
        // outline:1px solid red;
        width:33.3%;
        float:left;

             
           
            

     
            li{
              // outline:1px solid blue;
              display:block;
              width:68%;
              margin:0  auto 15px auto;
              }


           
      }
}







  
// grid----------------------------------------------------------------------


  .col2 {
  @include grid(2);
  }
  .col3 {
  @include grid(3);
  min-height:50px;
  }
    
  .col4 {
  @include grid(4);
  background:red;
  min-height: 500px;
  }
  .col5 {
  @include grid(5);
  // background:red;
  // min-height:200px;
  }
    
   .col6 {
  @include grid(6);
  }
    
  .col7 {
  @include grid(7);
  }
  .col8 {
  @include grid(8);
  background:lightblue;
  }
  .col9 {
  @include grid(9);
  }
  
 .col10 {
  @include grid(10);;
   }
  
   .col11 {
  @include grid(11);
  // background:pink;
  // min-height: 200px;
  }
    
  .col12 {
  @include grid(12);
  }
    
    
   .col16 {
  @include grid(16);
   // background:orange;

  }

  div:last-of-type {
  margin-right: 0;
  }
}

@media screen and (min-width: 900px) {
    section{
      max-width:1200px;

     .col11{
      
              p{
              max-width:35%;
              }


          }




    }





}