@media screen and (min-width: 40em) {

  section{
  	 max-width:900px;
     margin:0 auto;

          .col11{
              h1{
                margin-left:55px;
              }

              p{
              max-width:55%;
              margin-left:55px;
              }
          }

          .col5{
            display:block;

              h5{
                color:#b25b62;
                margin:106px auto 5px auto;
                max-width: 54%;
                }

              .arrow-icon{
                  background: url("../images/arrow-icon.png");
                  background-repeat:no-repeat;
                  min-height:20px;
                  width:18%;
                  display:block;
                  margin:15px auto;
              }


              img{
                  max-width: 100%;
              }
          }
  }




  

  .col2 {
  @include grid(2);
  }
  .col3 {
  @include grid(3);
  min-height:50px;
  }
    
  .col4 {
  @include grid(4);
  background:red;
  min-height: 500px;
  }
  .col5 {
  @include grid(5);
  // background:red;
  // min-height:200px;
  }
    
   .col6 {
  @include grid(6);
  }
    
  .col7 {
  @include grid(7);
  }
  .col8 {
  @include grid(8);
  background:lightblue;
  }
  .col9 {
  @include grid(9);
  }
  
 .col10 {
  @include grid(10);;
   }
  
   .col11 {
  @include grid(11);
  // background:pink;
  // min-height: 200px;
  }
    
  .col12 {
  @include grid(12);
  }
    
    
   .col16 {
  @include grid(16);
  background:orange;

  }

  div:last-of-type {
  margin-right: 0;
  }
}

@media screen and (min-width: 900px) {
    section{
      max-width:1200px;

     .col11{
      
              p{
              max-width:35%;
              }


          }




    }





}