@import 'fontandcolor';




/*! responsive-nav.js 1.0.39 by @viljamis */
// .nav-collapse {
//   // padding-top: 1.5em;
//   // // margin:0 auto;
//   // // margin-top: 10px;
//   //  outline:1px solid blue;
//   // overflow: hidden;


//  }
.nav-collapse ul {
   // margin-top:15px;

  padding: 0;
  list-style: none;
  overflow: hidden;
  width:70px;
  float:right;
  margin-right:8%;
   // margin-left:24px;






}

.nav-collapse li {
  margin-bottom: .5em;
  // margin-right: 4%;
  display:block;
  text-align: right;
   // float:left;
 
}

// .nav-collapse li:first-of-type{
//   margin-left:10px;
// }

.nav-collapse li:last-child{
  margin-right: 0px;
}

.nav-collapse a {
  color: white;
  text-decoration: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  padding: 20px 2%;
  display: block;
  text-decoration: none;
  overflow: hidden;
}

.nav-toggle span {
  color: $darkred;
  font-size: 2em;
  margin-top: -5px;
  margin-right:8%;
  float:right;
  }

@media screen and (min-width: 55em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .nav-collapse{
  width:40%;
  }

  .nav-collapse ul{
   float:right;
   border:1px solid black;
   display:none;
  }

  .nav-collapse  li{
  margin:0;
  float:left;
  }


}


