@media screen and (min-width: 45em) {
    body {
        header {
            // background:white;
            max-width: 80%;
            margin: 0 auto;
            h1 {

                background-position: 0 580px;
                margin-top: -200px;
                font-size: 85px;
                max-width: 60%;
                padding-bottom: 100px;

                &:before {
                    display: block;
                    position: relative;
                    top:20px;
                    right: 1.85%;
                    background: #red;
                    height: 400px;
                    // width: 1%;
                    content: "";
                   
                    border-right: 9px solid black;
                }
                
            }
            h2 {
                display: none;
            }
        }
    }
}

























// }    }   &:before {
//                     display: block;
//                     position: absolute;
//                     left: 39%;
//                     background: #F2811D;
//                     height: 2200px;
//                     width: 9%;
//                     content: "";
//                     z-index: -10;
//                     border-right: 12px solid black;
//                 }
//                 &:after {
//                     display: block;
//                     content: "";
//                     width: 0px;
//                     height: 0px;
//                     border-left: 55px solid transparent;
//                     border-right: 55px solid transparent;
//                     border-top: 120px solid #0477BF;
//                     position: absolute;
//                     bottom: 376px;
//                     left: 56.1%;
//                     z-index: -2;
//                     -webkit-transform: rotate(-180deg);
//                     -moz-transform: rotate(-180deg);
//                     -ms-transform: rotate(-180deg);
//                     -o-transform: rotate(-180deg);
//                     transform: rotate(-180deg);
//                 }
//             }