/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 12px; }

body {
  background: #F2E0C9;
  position: relative; }

h2 {
  margin-top: 150px; }

.summary {
  background: #BE5841; }

section {
  max-width: 1440px;
  margin: 0 auto; }
  section header {
    padding-top: 100px;
    z-index: 1; }
    section header h1 {
      background: white;
      text-transform: uppercase;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg);
      width: 80%;
      margin: 0 auto;
      position: relative;
      font-size: 80px;
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 500;
      min-height: 300px;
      background: url(../images/2015.png);
      background-repeat: no-repeat;
      background-position: 90% 160px; }
      section header h1:after {
        display: block;
        content: "";
        width: 0px;
        height: 0px;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 65px solid #0477BF;
        position: absolute;
        bottom: 150px;
        left: 17.55%;
        z-index: -2;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg); }
  @media screen and (min-width: 550px) {
    section header {
      padding-top: 0px;
      margin-top: -280px;
      z-index: 10;
      margin-bottom: 200px;
      height: 900px; }
      section header:before {
        display: inline-block;
        position: relative;
        left: 90.8%;
        top: 175px;
        background: url(../images/newline.png);
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg);
        content: "";
        height: 500px;
        width: 1%; }
      section header:after {
        display: none; }
      section header h1 {
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg);
        background: white;
        z-index: 2;
        width: 80%;
        margin: 0 auto;
        position: relative;
        font-size: 140px;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 500;
        min-height: 500px;
        background: url(../images/2015.png);
        background-repeat: no-repeat;
        background-position: 55% 300px; }
        section header h1:before {
          display: block;
          position: absolute;
          left: 35.70%;
          background: #F2811D;
          height: 2200px;
          width: 9%;
          content: "";
          z-index: -10;
          border-right: 12px solid black; }
        section header h1:after {
          display: block;
          content: "";
          width: 0px;
          height: 0px;
          border-left: 55px solid transparent;
          border-right: 55px solid transparent;
          border-top: 120px solid #0477BF;
          position: absolute;
          bottom: 376px;
          left: 56.1%;
          z-index: -2;
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg); }
      section header h2 {
        font-size: 30px;
        position: relative;
        -webkit-transform: rotate(-75deg);
        -moz-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
        -o-transform: rotate(-75deg);
        transform: rotate(-75deg);
        bottom: 920px;
        right: 5%; } }

/*# sourceMappingURL=style.css.map */
