/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 12px; }

body {
  background: #F2E0C9;
  position: relative; }

h2 {
  margin-top: 150px; }

.summary {
  background: #BE5841; }

header {
  padding-top: 200px;
  z-index: 10;
  margin-bottom: 100px; }
  header:before {
    display: block;
    position: absolute;
    left: 95.123%;
    top: -68px;
    background: url(../images/newline.png);
    transform: rotate(15deg);
    /* Safari */
    -webkit-transform: rotate(15 deg);
    /* Firefox */
    -moz-transform: rotate(15 deg);
    /* IE */
    -ms-transform: rotate(15 deg);
    /* Opera */
    -o-transform: rotate(15 deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    content: "";
    height: 400px;
    width: 2.1%; }
  header:after {
    display: block;
    position: absolute;
    left: 94.5%;
    top: -104px;
    background: url(../images/newline.png);
    transform: rotate(15deg);
    content: "";
    height: 400px;
    width: 2.1%; }
  header h1 {
    transform: rotate(15deg);
    /* Safari */
    -webkit-transform: rotate(15 deg);
    /* Firefox */
    -moz-transform: rotate(15 deg);
    /* IE */
    -ms-transform: rotate(15 deg);
    /* Opera */
    -o-transform: rotate(15 deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background: white;
    z-index: 2;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    font-size: 80px;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    min-height: 500px;
    background: url(../images/2015.png);
    background-repeat: no-repeat;
    background-position: 56% 180px; }
    header h1:after {
      display: block;
      content: "";
      width: 0px;
      height: 0px;
      border-left: 38px solid transparent;
      border-right: 38px solid transparent;
      border-top: 85px solid #0477BF;
      position: absolute;
      bottom: 340px;
      left: 11.9%;
      z-index: -2;
      transform: rotate(-180deg); }
    header h1 h2 {
      font-size: 30px;
      position: absolute;
      transform: rotate(-75deg);
      bottom: 1150px;
      left: 24%; }

@media screen and (min-width: 550px) {
  header {
    padding-top: 200px;
    z-index: 10;
    margin-bottom: 100px; }
    header:before {
      display: block;
      position: absolute;
      left: 89.1%;
      top: 16px;
      background: url(../images/newline.png);
      transform: rotate(15deg);
      content: "";
      height: 400px;
      width: 1%; }
    header:after {
      display: none; }
    header h1 {
      transform: rotate(15deg);
      background: white;
      z-index: 2;
      width: 80%;
      margin: 0 auto;
      position: relative;
      font-size: 140px;
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 500;
      min-height: 500px;
      background: url(../images/2015.png);
      background-repeat: no-repeat;
      background-position: 55% 300px; }
      header h1:before {
        display: block;
        position: absolute;
        left: 35.70%;
        background: #F2811D;
        height: 600px;
        width: 9%;
        content: "";
        z-index: -2;
        border-right: 12px solid black; }
      header h1:after {
        display: block;
        content: "";
        width: 0px;
        height: 0px;
        border-left: 55px solid transparent;
        border-right: 55px solid transparent;
        border-top: 120px solid #0477BF;
        position: absolute;
        bottom: 376px;
        left: 56.1%;
        z-index: -2;
        transform: rotate(-180deg); }
    header h2 {
      font-size: 30px;
      position: absolute;
      transform: rotate(-75deg);
      bottom: 1150px;
      left: 24%; } }

/*# sourceMappingURL=style.css.map */
