.container{
	width:1280px;
	overflow: hidden;
	background: red;
	margin:0 auto;
}
/*header----------------------------*/

header{
/*    height:836px;*/
    width:1280px;
/*    background:blue;*/
    float:left;
}

/*header clearfix------------------ */
header:before,
heade:after {
  content: "";
  display: table;
}
heade:after {
  clear: both;
}
header {
  clear: both;
  *zoom: 1;
}  

.top-menus{
    position:fixed;
    z-index:10;
    width:1280;
    padding-bottom: 5px;
    background: white;
    
}

.top-menus img{
        width:30px;
        margin-left:190px;
        margin-top:14px;
        float:left;
}

.right-menu{
      float:right;
      margin-right: 194px;
      margin-top:10px;


}
input{
  border-radius:50px;
  width:238px;
  height:34px;
  background: f5f8fa;
}



.main-photo{
	 background: url("../images/banner.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: -2;
     height:324px;
     margin-top:49px;
}


.header-bottom{
    height:65px;
    background: yellow;
    position:relative;
}





.logo-outline{
   width:217px;
   height:227px;
   background: white;
   position: absolute;
   left:172px;
   bottom:-50;
   border-radius:15px
   
    
}
.logo-outline img{
   width:200px;
    margin:14px 9px 0 9px;
}


header nav{
   float:right;
    
}

ul li{
  list-style-type:none;
  background:red;
  width:70px;
  text-align:center;

}


ul{
  float:left;
  
}


/*main clearfix---------------------*/
 
.main-section:before,
.main-section:after {
  content: "";
  display: table;
}
.main-section:after {
  clear: both;
}
.main-section {
  clear: both;
  *zoom: 1;
}  







/*aside----------------------------------*/


aside{
  background:blue; 
  float:left;
  height:2000px;
  width:310;
  margin-left:162;
  
}
  
/*section--------------------------------*/


section{
    background: orange;
    width:634px;
    height:2000px;
    float:right;
    margin-right:161px;
    
}




