.container{
	width:1280px;
	overflow: hidden;
	background:#f5f8fa;
	margin:0 auto;
}
/*header----------------------------*/

header{
/*    height:836px;*/
    width:1280px;
   background:white;
    float:left;
    position:relative;
}

/*header clearfix------------------ */
header:before,
header:after {
  content: "";
  display: table;
}
heade:after {
  clear: both;
}
header {
  clear: both;
  *zoom: 1;
}  

.top-menus{
    position:fixed;
    z-index:10;
    width:1280;
    padding-bottom: 5px;
    background: white;
    
}

.top-menus img{
        width:30px;
        margin-left:190px;
        margin-top:14px;
        float:left;
}

.right-menu{
      float:right;
      margin-right: 194px;
      margin-top:10px;


}
input{
  border-radius:50px;
  width:238px;
  height:34px;
  background: f5f8fa;
}



.main-photo{
	 background: url("../images/banner.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: -2;
     height:324px;
     margin-top:49px;
}

.logo-background{
   width:217px;
   height:227px;
   background: white;
   position: absolute;
   left:162px;
   bottom:-30;
   border-radius:15px
}

.logo-background img{
   width:200px;
    margin:14px 9px 0 9px;
}

header nav{
    float:right;
    
}

header nav div{
    float:left;
    padding:14px 0 15px 0;
    margin-left:32
}

header div p{
    text-align: center;
}

.follow-btn{
    background: green;
    height:38px;
    width:104px;
    float:right;
    border-radius: 5px;
    margin-right:161px;
    margin-top:12px;
    
}


.margin-right{
    margin-right:91px;
}














































/*main clearfix---------------------*/
 
.main-section:before,
.main-section:after {
  content: "";
  display: table;
}
.main-section:after {
  clear: both;
}
.main-section {
  clear: both;
  *zoom: 1;
}  







/*aside----------------------------------*/


aside{
/*  height:2000px;*/
  width:310px;
  float:left;
/*  background:blue; */
  margin-left:162;
  float:left;
  
}

.main-info{
    height:430px;
/*    width:310px;*/
    background: red;
    margin-top:44px;
}

.icon-down{
    width:22px;
}

.iron-photos{
    width:90px;
    display:block;
    float:left;
}

/*sign up----------------------------------*/

.sign-up{
    height:162px;
/*    width:310px;*/
    background: green;
    margin-top: 32px;
}

.signup-btn{
/*    height:43px;*/
    width:278px;
    background:yellow;
    border-radius: 5px;
    margin:0 auto;
}

.signup-btn p{
    text-align: center;
    padding:14px;
}


/*also like  CHANGE LATER-----------------------------------*/

aside h3 {
    display: inline-block;
    float:left;
}

.also-like img{
    display:block;
    float:left;
}

.also-like div div{
  width:250px;
    float:left;
    margin-top:8px;
    margin-left:10
}

.also-like{
/*height:304px;*/
/*width:310px;*/
background: yellow;
margin-top:10px;
}

.also-like:before,
.also-like:after {
  content: "";
  display: table;
}
.also-like:after {
  clear: both;
}
.also-like {
  clear: both;
  *zoom: 1;
}  

.also-like{
    clear:both;
}



/*trends--------------------------------------*/
.trends{
/*    height:316px;*/
    background: purple;
    margin-top:10px;
}
.trend-list{
    margin-left:22px;
}
.trends a{
    display: block;
}


/*footer--------------------------------------*/

footer{
    margin-top:10px;
}








  
/*section--------------------------------*/


section{
    background: orange;
    width:634px;
    height:2000px;
    float:right;
    margin-right:161px;
}













.top{
    height:50px;
    background: yellow;
    float:left;
    
}




