@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    .col6 {
        float: left;
        width: 50%;
        // background:red;
   
    }
    header {
        h1 {
            color: red;
        }
    }
    aside {
        h3 {
            margin: -4px 0 0 15px;
        }
        p {
            &:last-child {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 85%;
        max-width:900px;
        margin:0 auto;
     
    }
    header {
        h1 {
            color: white;
            font-size: 100px;
            margin-top: 180px;
            // color:green;
       
        }
    }
    .col6 {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    section {
        width: 60%;
        float: left;
        margin: 0 auto;
        // background:red;
        margin-right: 10%;
    }
    aside {
        width: 30%;
        float: left;
        // background:blue;
        h3 {
            margin-left: 0;
            margin-top: 60px;
        }
        p {
            &:last-child {
                margin-left: 0;
            }
        }
           img {
            margin-bottom:10px;
        }
    }

     
    
}

@media screen and (min-width: 1400px) {
    .container {
        width: 80%;
        // background:green;
        max-width: 1400px;
        margin: 0 auto;
    }
    section {
        width: 60%;
        float: left;
        margin: 0 auto;
        // background:red;
        margin-left: 5%;
    }
    aside {
        width: 30%;
        float: left;
        // background:blue;
   
    }
}