@media screen and (min-width: 480px) {
    header {
        h1 {
            max-width: 500px;
            margin: 150px auto 0 auto;
            font-size: 60px;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    .col6 {
        float: left;
        width: 50%;
    }
    header {
        h1 {
            margin: 110px auto 0 auto;
            font-size: 80px;
            max-width: 600px;
        }
    }
    aside {
        h4 {
            margin: -4px 0 0 15px;
        }
        p {
            &:last-child {
                margin-left: 15px;
            }
        }
    }
    .posts {
        h3 {
            font-size: 40px;
        }
        .post_photos {
            width: 50%;
        }
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 85%;
        max-width: 900px;
        margin: 0 auto;
    }
    header {
        h1 {
            color: white;
            font-size: 84px;
            margin-top: 140px;
            max-width: 100%;
           
        }
        p {
            font-size: 18px;
        }

nav{
    .left-nav, .right-nav{
        a{
            font-size:1.125rem;
            font-size:18px;
        }
    }
}







    }
    .col6 {
        float: none;
        margin: 0 auto;
        width: 100%;
    }
    section {
        width: 60%;
        float: left;
        margin: 0 auto;
        margin-right: 10%;
    }
    aside {
        width: 30%;
        float: left;
        h4 {
            margin-left: 0;
            margin-top: 60px;
        }
        p {
            &:last-child {
                margin-left: 0;
            }
        }
        img {
            margin-bottom: 10px;
        }
    }
    .posts {
        h3 {
            font-size: 50px;
        }
        .post_photos {
            width: 25%;
            height: 280px;
        }
    }
    footer {
        a {}
        img {
            float: left;
            margin: 0 20px 0 5%;
        }
        p {
            float: left;
            margin-top: 10px;
        }
        nav {
            float: right;
            margin-right: 5%;
            margin-top: 10px;
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        h1 {
            color: white;
            font-size: 90px;
            margin-top: 180px;
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }
    section {
        width: 60%;
        float: left;
        margin: 0 auto;
        margin-left: 5%;
    }
    aside {
        width: 30%;
        float: left;
    }
}