@import "reset";

p, a, h1, h2, h3 {
    font-family: helvetica;
}

a {
    color: #a3b3bf;
}

p {
    color: #5e686f;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

/*banner content--------------------------------------*/
header {
    max-width: 1300px;
    height: 528px;
    margin-bottom: 76px;
    background: url("../images/surf.jpg");
    position: relative;
    overflow: hidden;
    .company_name {
        font-size: 110px;
        font-weight: bold;
        text-align: center;
        margin-top: 200px;
        color: white;
    }
    .project_name {
        text-align: center;
        color: white;
    }
}

.left-nav {
    float: left;
    width: 300px;
    clear: left;
    margin-left: 105px;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    img {
        float: left;
        margin-right: 10px;
    }
    p {
        margin-top: 15px;
        color: #083452;
    }
}

.right-nav {
    margin-right: 150px;
    margin-top: 25px;
    float: right;
    li {
        float: left;
    }
    a {
        text-decoration: none;
        color: #083452;
        font-size: 18px;
    }
}

.left-margins {
    margin-left: 25px;
}

.icon-margin {
    margin-left: 14px;
}

#icon-align {
    position: relative;
    bottom: 5px;
}

/*article_part1----------------------------------------------*/

section {
    max-width: 780px;
    float: left;
    p {
        line-height: 25px;
    }
    p:nth-child(1) {
        margin-top: 76px;
    }
}

article {
    max-width: 621px;
    margin-left: 162px;
    text-align: left;
    float: left;
    h1 {
        font-size: 50px;
        line-height: 58px;
        color: #083452;
        margin-bottom: 14px;
    }
    div {
        img {
            max-width: 23px;
            margin-left: 4px;
            margin-bottom: 26px;
        }
        p {
            display: inline;
            position: relative;
            left: 085px;
            bottom: 30px;
            color: #5e686f;
            span {
                color: #a3b3bf;
                font-size: 13px;
            }
        }
    }
}

/*WOAH--------------------------------------------------------------------------*/

#padding_left {
    display: inline;
    position: relative;
    left: 168px;
    top: 42px;
    font-size: 30px;
    color: #106db3;
    border-left: 2px solid #a3b3bf;
    padding: 18px 0 6px 16px;
    margin-bottom: 20px;
}

// article two--------------------------------------------------------------------
.article-two a {
    color: #106db3;
}

/* article nav---------------------------------------------------------------------*/

.article-nav {
    .nav {
        width: 162px;
        height: 30px;
        float: left;
        margin-top: 22px;
        margin-right: 10px;
        position: relative;
        left: 165px;
    }
    .baby_nav {
        max-width: 32px;
        height: 30px;
        background: #5e686f;
    }
    .big_nav {
        max-width: 124px;
        height: 30px;
        background: #a3b3bf;
        position: relative;
        left: 32px;
        bottom: 30px;
        color: white;
        text-align: center;
        line-height: 30px;
        font-family: helvetica;
        font-size: 14px;
    }
    .baby_change {
        background: #083452;
    }
    .big_change {
        background: #106db3;
        text-decoration: none;
    }
}

/*aside----------------------------------------------*/

aside {
    max-width: 278px;
    margin-top: 5px;
    margin-right: 160px;
    float: right;
}

aside img {
    display: block;
    margin: 0 auto;
}

aside nav {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

aside nav a {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}

.float-right {
    float: right;
}

aside p {
    float: left;
    margin-left: 22px;
    margin-top: 35px;
    margin-bottom: 54px;
}

aside h3 {
    text-align: left;
    font-weight: bold;
    color: #083452;
    clear: right;
    margin-top: 80px;
    font-size: 18;
}

aside #left_align {
    text-align: left;
    line-height: 24px;
    font-size: 14px;
    float: left;
    width: 278px;
    position: relative;
    right: 22px;
    bottom: 26px;
    color: #a3b3bf;
}

/*posts------------------------------------------------------------*/

hr {
    clear: both;
    position: relative;
    top: 68px;
}

div {
    h2 {
        width: 1300px;
        font-size: 80px;
        margin-top: 110px;
        margin-bottom: 40px;
        text-align: center;
    }
    .post_photos {
        width: 325px;
        height: 330px;
        float: left;
        p {
            display: inline-block;
            position: relative;
            top: 285px;
            left: 8px;
            font-size: 30px;
            color: #083452;
        }
    }
    span {
        font-size: 30px;
        font-family: helvetica;
        color: white;
        position: relative;
        display: inline-block;
    }
    #brew_text {
        top: 285px;
        left: 8px;
    }
    #zack_text {
        top: 250px;
        left: 8px;
        color: #083452;
    }
    .surfer_photo {
        background: url("../images/surfer.jpg");
    }
    .beer_photo {
        background: url("../images/beer.jpg");
    }
    .zack_photo {
        background: url("../images/zack.jpg");
    }
    .booze_photo {
        background: url("../images/booze.jpg");
    }
}

/*footer-------------------------------------------------------------------*/

footer {
    background: #083452;
    height: 96px;
    width: 1300px;
    clear: both;
    img {
        position: relative;
        left: 165px;
        top: 30;
    }
    p {
        display: inline;
        position: relative;
        font-size: 14px;
        left: 172px;
        top: 18px;
        color: #a3b3bf;
    }
    nav {
        float: right;
        margin: 44px 130px 0 0;
    }
    a {
        float: left;
        text-decoration: none;
        font-size: 14px;
    }
}