@import "reset";

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);

h1 {
    font-size: 3.125rem;
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

h1, h2, h3 {
    line-height: 1.2;
    letter-spacing: .7;
}

h2 {
    font-size: 2.5rem;
    font-size: 40px;
}

h2, h3, h4 {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    margin-bottom: 8px;
    color: #083452;
}

h4 {
    font-size: 1.875rem;
    font-size: 30px;
}

a, span {
    display: inline-block;
}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-size: 14px;
    color: #5e686f;
}

a {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    &:hover {
        color: #106db3;
    }
}

p {
    color: #5e686f;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    font-size: 16px;
}

strong {
    font-weight: 700;
}

/*banner content--------------------------------------*/
header {
    margin-bottom: 60px;
    background: url("../images/musicians-hero.jpg");
    background-size: cover;
    overflow: hidden;
    min-height: 600px;
    background-position: center bottom;
    h1 {
        // font-size: 90px;
        text-align: center;
        margin-top: 220px;
        color: white;
        text-shadow: 2px 2px grey;
    }
    p {
        text-align: center;
        color: white;
        font-weight: 200;
    }
}

.right-nav {
    margin-right: 5%;
    margin-top: 25px;
    float: right;
    li {
        float: left;
        margin-left: 30px;
        &:last-child {
            margin-left: 10px;
            position: relative;
            bottom: 5px;
        }
    }
    a {
        text-decoration: none;
        color: white;
        font-size: 1.125rem;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
}

.container {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

section {
    overflow: hidden;
}

/*article_part1----------------------------------------------*/

article {
    float: left;
    clear: left;
    margin-bottom: 60px;
    &:last-of-type {
        margin-bottom: 30px;
    }
    h2 {
        color: #083452;
        margin-bottom: 18px;
    }
    h2, h3 {
        max-width: 450px;
    }
    img {
        max-width: 40px;
        margin-right: 20px;
        float: left;
        clear: right;
    }
    span {
        padding-bottom: 30px;
        padding-top: 10px;
        a {
            margin-left: 5px;
            font-size: 16px;
        }
    }
    p {
        color: #5e686f;
        max-width: 550px;
    }
    .marg {
        margin-top: 30px;
    }
}

h4 {
    float: left;
    clear: left;
    color: #106db3;
    border-left: 2px solid #a3b3bf;
    padding: 18px 0 6px 16px;
    margin-bottom: 20px;
}

/*WOAH--------------------------------------------------------------------------*/

// #padding_left {
//     display: inline;
//     position: relative;
//     left: 168px;
//     top: 42px;
//     font-size: 30px;
//     color: #106db3;
//     border-left: 2px solid #a3b3bf;
//     padding: 18px 0 6px 16px;
//     margin-bottom: 20px;
// }

// article two--------------------------------------------------------------------
// .article-two a {
//     color: #106db3;
// }

/* article nav---------------------------------------------------------------------*/

.article-nav {
    overflow: hidden;
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 120px;
    .nav {
        margin-bottom: 15px;
        margin-right: 15px;
        float: left;
        &:hover {
            .big_nav {
                background: #106db3;
            }
            .baby_nav {
                background: #083452;
            }
        }
    }
    .baby_nav {
        float: left;
        background: #5e686f;
    }
    .big_nav {
        float: left;
        background: #a3b3bf;
        color: black;
        text-align: center;
        line-height: 30px;
        font-family: helvetica;
        font-size: 14px;
        padding: 0 10px 0 10px;
    }
    .baby_nav, .big_nav {
        color: #fff;
    }
}

/*aside----------------------------------------------*/

aside {
    margin: 0 auto;

    img {
        display: block;
        margin: 0 auto 10px auto;

    }
    nav {
        text-align: center;
      
        margin:0 auto;
       p{
        text-align:center;
       }
        a {
            font-size: 14px;
            text-decoration: none;
          
            margin: 10px 10px 30px 0;
            &:last-child {
                margin-right: 0;
            }
        }
           a {
        &:nth-child(6) {
            float: right;
            margin-top: 10px;
            font-size:15px;
            color:red;
        
        }
    }
    }
 
    .ad-img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

 h3 {
    font-weight: bold;
    color: #083452;
    clear: right;
    margin-top: 60px;
    font-size: 18;
}

}


/*posts------------------------------------------------------------*/

hr {
    clear: both;
    position: relative;
    top: 68px;
}

.posts {
    h2 {
        width: 1300px;
        font-size: 80px;
        margin-top: 110px;
        margin-bottom: 40px;
        text-align: center;
    }
    .post_photos {
        width: 325px;
        height: 330px;
        float: left;
        p {
            display: inline-block;
            position: relative;
            top: 285px;
            left: 8px;
            font-size: 30px;
            color: #083452;
        }
    }
    span {
        font-size: 30px;
        font-family: helvetica;
        color: white;
        position: relative;
        display: inline-block;
    }
    #brew_text {
        top: 285px;
        left: 8px;
    }
    #zack_text {
        top: 250px;
        left: 8px;
        color: #083452;
    }
    .surfer_photo {
        background: url("../images/surfer.jpg");
    }
    .beer_photo {
        background: url("../images/beer.jpg");
    }
    .zack_photo {
        background: url("../images/zack.jpg");
    }
    .booze_photo {
        background: url("../images/booze.jpg");
    }
}

/*footer-------------------------------------------------------------------*/

footer {
    background: #083452;
    height: 96px;
    width: 1300px;
    clear: both;
    img {
        position: relative;
        left: 165px;
        top: 30;
    }
    p {
        display: inline;
        position: relative;
        font-size: 14px;
        left: 172px;
        top: 18px;
        color: #a3b3bf;
    }
    nav {
        float: right;
        margin: 44px 130px 0 0;
    }
    a {
        float: left;
        text-decoration: none;
        font-size: 14px;
    }
}

@import "mediaqueries";