$link-size: 25px;
$darkred: #bf544b;
$lightblue: #7edde1;
$darkblue: #0597f2;
$lightgreen: #88bb28;
$tan: #dac48f;
$orange: #cc6806;

* {
    text-decoration: none;
}

a,p,li{
    color:#4b4648;

}



h1, h2 {
    font-weight: bold;
    margin-bottom: 30px;
    font-family: helvetica;
    font-size: 48px;
    color: $darkblue;
}

h2{
    margin-top:85px;
}


h3 {
    font-family: helvetica;
    font-weight: regular;
    font-size: 32px;
    margin:40px 0 20px 0;
}

p {
    font-family: helvetica;
    font-size: 20px;
    line-height: 1.4;
}

li{
     font-family: helvetica;

}

