@import "reset";
@import "mixin";
@import "responsive-nav";
@import "fontandcolor";

//global----------------------------------
body {
    // height:2000px;
    // background: #EDEAE6;
    // background: #F9D76D;
    background:url(../images/grey.png);

}



header {
    background: red;
    // background: rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow: hidden;
    padding: .5rem 0;
    position:relative;
    z-index:10;

    
   
    .wrap {
        max-width: 90%;
        // background: yellow;
        margin: 0 auto;
        overflow: hidden;
    }
    p {
        background: #F5F6F5;
        font-size: 3em;
        float: left;
        margin: 5px;
        font-family: helvetica neue;
        font-weight: bold;
    }
}




@import "mediaqueries";
@import "about";