/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*vars */
.col-5, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col16 {
  box-sizing: border-box;
  width: 100%;
  float: left; }

* {
  text-decoration: none; }

a {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  color: black; }

h1 {
  font-family: helvetica neue;
  font-weight: bold;
  font-size: 2.313rem;
  font-size: 37px;
  text-align: left;
  color: white;
  margin-top: 30px;
  letter-spacing: -0.07em;
  margin-bottom: 15px; }

h3 {
  font-size: 2em; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse {
  float: right; }

.underline {
  border-bottom: 3px solid #f9d76d; }

.nav-collapse ul {
  padding: 20px 2px 0 0;
  display: block;
  list-style-type: none;
  text-decoration: none; }

.nav-collapse li {
  display: block;
  margin-bottom: 1em;
  text-align: right; }
  .nav-collapse li a {
    color: white; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;
  float: right; }

.nav-collapse.opened {
  max-height: 9999px;
  padding-bottom: 30px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  font-size: 1.5em;
  text-decoration: none; }

.nav-toggle span {
  color: #F5F6F5;
  font-size: 3.5rem;
  overflow: hidden;
  display: inline-block; }

@media screen and (min-width: 50em) {
  .nav-collapse {
    float: right;
    overflow: hidden; }

  .nav-collapse ul {
    overflow: hidden;
    float: right;
    padding: 0; }

  .nav-collapse li {
    display: inline-block;
    justify-content: center;
    margin: 20px 0 14px 30px; }
    .nav-collapse li:last-of-type {
      margin-right: 0; }
    .nav-collapse li:nth-of-type(4)::after {
      display: none; }
    .nav-collapse li a {
      color: white; }

  .js .nav-collapse {
    position: relative;
    clear: none; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; }

  .nav-collapse.opened {
    padding: 0; } }
* {
  text-decoration: none; }

a {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  color: black; }

h1 {
  font-family: helvetica neue;
  font-weight: bold;
  font-size: 2.313rem;
  font-size: 37px;
  text-align: left;
  color: white;
  margin-top: 30px;
  letter-spacing: -0.07em;
  margin-bottom: 15px; }

h3 {
  font-size: 2em; }

body {
  background: url(../images/grey.png); }

.hero {
  background-size: cover;
  min-height: 30em;
  background-image: url(../images/shoes2.jpg);
  margin-bottom: 25px;
  position: relative;
  top: -6em; }
  .hero .wrapper {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    top: 6em; }
    .hero .wrapper p:nth-child(2) {
      max-width: 80%;
      font-size: 1rem;
      font-size: 16px;
      text-align: left;
      line-height: 24px;
      color: white;
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 15px; }
    .hero .wrapper .port-btn {
      background: #d18e00;
      display: inline-block;
      padding: 20px 25px;
      border-radius: 5px;
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      font-size: 16px;
      box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1); }
      .hero .wrapper .port-btn:hover {
        background: #f9d76d; }

header {
  background: #2E3032;
  width: 100%;
  overflow: hidden;
  padding: .5rem 0;
  position: relative;
  z-index: 10; }
  header .wrap {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden; }
  header p {
    background: #F5F6F5;
    font-size: 3em;
    float: left;
    margin: 5px;
    font-family: helvetica neue;
    font-weight: bold; }

section h2 {
  z-index: 15;
  font-family: helvetica neue;
  font-weight: bold;
  letter-spacing: -0.07em;
  font-size: 2.250rem;
  font-size: 36px;
  display: inline-block;
  color: #2E3032;
  border-bottom: 3px solid #f9d76d;
  padding: 5px;
  margin-bottom: 35px;
  margin-left: 5%; }
section .port-wrap {
  overflow: hidden; }
  section .port-wrap .port-img1 {
    background: url(../images/zengarden.png);
    height: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 40px; }
  section .port-wrap .port-img2 {
    background: url(../images/bouldin.png);
    height: 250px;
    background-size: 100%;
    background-repeat: no-repeat; }
section .zen, section .bouldin {
  display: block;
  width: 100%; }

footer {
  background: #2E3032;
  width: 100%;
  float: left;
  margin-top: 100px; }
  footer li {
    float: left;
    margin: 30px 0 30px 4.5%; }
  footer a {
    color: white; }

@media screen and (min-width: 30em) {
  .hero {
    height: 30em; }
    .hero .wrapper h1 {
      font-size: 3rem;
      font-size: 48px; }
    .hero .wrapper p:nth-child(2) {
      font-size: 18px;
      max-width: 60%; } }
@media screen and (min-width: 35em) {
  section h2 {
    font-size: 2.750rem;
    font-size: 44px; }
  section .port-wrap .zen, section .port-wrap .bouldin {
    max-width: 50%; }
  section .port-wrap .zen {
    float: left; }

  .col-5 {
    width: 4.16667%;
    margin-right: 0%;
    min-height: 20px;
    background: green; }

  .col1 {
    width: 8.33333%;
    margin-right: 0%;
    min-height: 20px;
    background: green; }

  .col2 {
    width: 16.66667%;
    margin-right: 0%;
    min-height: 20px; }

  .col3 {
    width: 25.0%;
    margin-right: 0%;
    background: red;
    min-height: 20px; }

  .col4 {
    width: 33.33333%;
    margin-right: 0%; }

  .col5 {
    width: 41.66667%;
    margin-right: 0%;
    background: red;
    min-height: 500px; }

  .col6 {
    width: 50.0%;
    margin-right: 0%;
    background: red;
    min-height: 500px; }

  .col7 {
    width: 58.33333%;
    margin-right: 0%; }

  .col8 {
    width: 66.66667%;
    margin-right: 0%;
    background: red;
    min-height: 20px; }

  .col9 {
    width: 75.0%;
    margin-right: 0%; }

  .col10 {
    width: 83.33333%;
    margin-right: 0%; }

  .col11 {
    width: 91.66667%;
    margin-right: 0%; }

  .col12 {
    width: 100.0%;
    margin-right: 0%; }

  .col16 {
    width: 133.33333%;
    margin-right: 0%; } }
@media screen and (min-width: 46.8em) {
  .hero {
    height: 40em; }
    .hero .wrapper h1 {
      font-size: 4.375rem;
      font-size: 70px; }
    .hero .wrapper p:nth-child(2) {
      font-size: 1.125rem;
      font-size: 18px;
      max-width: 550px; } }
@media screen and (min-width: 50em) {
  .hero {
    height: 50em; }
    .hero .wrapper p:nth-child(2) {
      font-size: 20px; }

  header {
    background: rgba(255, 255, 255, 0.3); }
    header p {
      font-size: 64px;
      font-size: 4em; }

  section h2 {
    font-size: 4.375rem;
    font-size: 70px; }

  footer .col16 li {
    margin: 20px 0 14px 1%; } }
.road {
  min-height: 25em;
  background-position: 50%;
  background-size: cover;
  margin-bottom: 25px;
  position: relative;
  top: -6em; }
  .road .wrapper {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    top: 6em; }

@media screen and (min-width: 50em) {
  .road {
    background-position: 0% 60%; } }

/*# sourceMappingURL=style.css.map */
