@import "reset";
@import "mixin";
@import "responsive-nav";
@import "fontandcolor";

//global----------------------------------

header {
    background: $lightblue;
    // background: rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow: hidden;
    padding: .5rem 0;
    // position:fixed;
    // z-index:10;
    .wrap {
        max-width: 90%;
        // background: yellow;
        margin: 0 auto;
        overflow: hidden;
    }
    p {
        color: #b25b62;
        font-size: 2em;
        float: left;
        padding: 30px 0 30px 0;
        font-family: helvetica neue;
        font-weight: bold;
    }
}

.margins {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

img {
    width: 100%;
}

.color-container {
    // overflow:auto;
    max-width: 350px;
    .margin {
        margin-bottom: 40px;
    }
    .box {
        width: 150px;
        height: 150px;
        float: left;
    }
    .lightblue {
        background: #7edde1;
    }
    .darkblue {
        background: #0597f2;
    }
    .darkred {
        background: #bf544b;
    }
    .darkorange {
        background: #cc6806;
    }
    .lightgreen {
        background: #88bb28;
    }
    .brown {
        background: #dac48f;
    }
    .black {
        background: black;
    }
    .num-container {
        float: left;
        padding: 51px 0 51px 20px;
        // background:green;
   
    }
}

h3 {
    clear: both;
}

h2 {
    clear: both;
}

@import "mediaqueries";
@import "about";