@import "fontandcolor";

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse {
   float:right;
   
   
 }



.nav-collapse ul {
  
    padding: 0;
    width: 100%;
    display: block;
    list-style-type: none;
    text-decoration: none;

}

.nav-collapse li {
    // width: 100%;
    display: block;
    margin-bottom: 1em;
    text-align: right;


   

}

.nav-collaspe a{
  text-decoration: none;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    clear: both;
    float:right;
    width:50%;
}

.nav-collapse.opened {
    max-height: 9999px;
        padding-bottom:30px;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: right;
    font-size: 1.5em;
    
    text-decoration: none;
   
    // margin-bottom: 1em;
}

.nav-toggle span {
    color: $darkred;
    font-size: 3.5rem;
    
}

header a{
  // max-height:30px;
  margin:0;
}
@media screen and (min-width: 50em) {
.nav-collapse{
  background:orange;
  // width:50%;
    float:right;
    overflow: hidden;

}

.nav-collapse ul{
  background:green;
  overflow: hidden;
  float:right;


}




    .nav-collapse li {
      background:blue;
         float: left;
        margin-right:3%;
        &:last-of-type {
            margin-right: 0;
        }
        &:nth-of-type(4)::after {
            display: none;
        }
    }
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}