@import "reset";
@import "mixin";
@import "responsive-nav";
@import "fontandcolor";

//global----------------------------------
.hero {
     background: no-repeat center center;
    background-size: cover;
    height: 20em;
    background-image: url(../images/shoes.jpg);
   
}

header {
    background: #2E3032;
    // background: rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow: hidden;
    padding: .5rem 0;
    .wrap {
        max-width: 90%;
        // background: yellow;
        margin: 0 auto;
        overflow: hidden;
    }
    p {
        background: #F5F6F5;
        font-size: 3em;
        float: left;
        margin: 5px;
    }
}















footer {
    background: #7edde1;
    width: 100%;
    float: left;
    margin-top: 100px;
    li {
        float: left;
        padding: 35px 0 35px 5%;
    }
    a {
        color: #bf544b;
    }
}

@import "mediaqueries";