@import "reset";
@import "mixin";
@import "responsive-nav";
@import "fontandcolor";

//global----------------------------------
.hero {
    background: no-repeat center center;
    background-size: cover;
    height: 50em;
    background-image: url(../images/shoes2.jpg);
    h1 {
        font-family: helvetica neue;
        font-weight: bold;
        font-size:2.313rem;
        font-size: 37px;
        text-align: left;
        color: white;
        margin-top: 30px;
        letter-spacing: -0.07em;
        margin-bottom:15px;
        margin-left:5%;
    }
    p {
        &:nth-child(3){
    
        max-width: 330px;
        font-size:1rem;
        font-size: 16px;
        text-align:left;
        line-height: 24px;
        color: white;
        margin-left:5%;
         // margin: 0 auto;
            font-family: "source-sans-pro",sans-serif;
font-style: normal;
font-weight: 600;
        }
    }
}

header {
    background: #2E3032;
    // background: rgba(255, 255, 255, 0.1);
    width: 100%;
    overflow: hidden;
    padding: .5rem 0;
    .wrap {
        max-width: 90%;
        // background: yellow;
        margin: 0 auto;
        overflow: hidden;
    }
    p {
        background: #F5F6F5;
        font-size: 3em;
        float: left;
        margin: 5px;
        font-family: helvetica neue;
        font-weight: bold;
    }
}

footer {
    background: #7edde1;
    width: 100%;
    float: left;
    margin-top: 100px;
    li {
        float: left;
        padding: 35px 0 35px 5%;
    }
    a {
        color: #bf544b;
    }
}

@import "mediaqueries";