/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*vars */
.col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col16 {
  box-sizing: border-box;
  width: 100%;
  float: left; }

/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse {
  z-index: 10; }

.nav-collapse ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 150px;
  float: right;
  margin-right: 10%;
  border: 1px solid black; }

.nav-collapse li {
  margin-bottom: .5em;
  display: block;
  text-align: right;
  font-size: 1.5em; }

.nav-collapse li:last-child {
  margin-right: 0px; }

.nav-collapse a {
  color: white;
  text-decoration: none; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  padding: 20px 2%;
  display: block;
  text-decoration: none;
  overflow: hidden; }

.nav-toggle span {
  color: #bf544b;
  font-size: 3.5rem;
  margin-top: -5px;
  margin-right: 8%;
  float: right; }

@media screen and (min-width: 55em) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; }

  .nav-collapse {
    width: 40%; }

  .nav-collapse ul {
    float: right;
    border: 1px solid black;
    width: 40%; }

  .nav-collapse li {
    margin: 0;
    float: left; } }
.hero {
  background: no-repeat center center;
  background-size: cover;
  height: 20em;
  /* 300px */
  background-image: url(../images/skating.jpg); }

header {
  background: red;
  min-height: 50px;
  width: 100%;
  overflow: hidden; }
  header p {
    color: #bf544b;
    font-size: 3em;
    font-family: "tablet-gothic-compressed",sans-serif;
    float: left;
    margin-left: 3%; }

footer {
  background: #7edde1;
  width: 100%;
  float: left;
  margin-top: 100px; }
  footer li {
    float: left;
    padding: 35px 0 35px 5%; }
  footer a {
    color: #bf544b; }

@media screen and (min-width: 600px) {
  .hero {
    height: 500px; }

  section p {
    max-width: 60%; } }
@media screen and (min-width: 1000px) {
  header p {
    font-size: 64px;
    font-size: 4em; }

  footer .col16 li {
    padding: 45px 0 16px 5%; }

  .col2 {
    width: 12.5%;
    margin-right: 0%; }

  .col3 {
    width: 18.75%;
    margin-right: 0%;
    min-height: 50px; }

  .col4 {
    width: 25%;
    margin-right: 0%;
    background: red;
    min-height: 500px; }

  .col5 {
    width: 31.25%;
    margin-right: 0%; }

  .col6 {
    width: 37.5%;
    margin-right: 0%; }

  .col7 {
    width: 43.75%;
    margin-right: 0%; }

  .col8 {
    width: 50%;
    margin-right: 0%; }

  .col9 {
    width: 56.25%;
    margin-right: 0%; }

  .col10 {
    width: 62.5%;
    margin-right: 0%; }

  .col11 {
    width: 68.75%;
    margin-right: 0%; }

  .col12 {
    width: 75%;
    margin-right: 0%; }

  .col16 {
    width: 100%;
    margin-right: 0%; }

  div:last-of-type {
    margin-right: 0; } }
@media screen and (min-width: 900px) {
  footer .col16:after {
    width: 425px;
    top: -30px; }
  footer .col16 li {
    padding: 45px 0 40px 5%; } }

/*# sourceMappingURL=style.css.map */
