/*!CK:1995830988!*//*1438143927,*/

.sp_rrDvcbbSRSC{background-image:url(/rsrc.php/v2/yR/r/aLaeoOdmjMM.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_rrDvcbbSRSC.sx_ccf90e{background-position:0 0}.sp_rrDvcbbSRSC.sx_dc5000{background-position:0 -17px}

#bootloader_FkJ6Q { height: 42px; }
.bootloader_FkJ6Q { display:block !important; }