/*!CK:640687745!*//*1438001268,*/

.sp_O9r4eXrPJth{background-image:url(/rsrc.php/v2/yP/r/QfzFr3knBse.png);background-size:17px 98px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_O9r4eXrPJth.sx_404ef2{background-position:0 0}.sp_O9r4eXrPJth.sx_e1eae1{background-position:0 -17px}.sp_O9r4eXrPJth.sx_81381d{width:12px;height:12px;background-position:0 -85px}.sp_O9r4eXrPJth.sx_e40e89{background-position:0 -34px}.sp_O9r4eXrPJth.sx_2f91de{background-position:0 -51px}.sp_O9r4eXrPJth.sx_16ce5e{background-position:0 -68px}

#bootloader_g96L_ { height: 42px; }
.bootloader_g96L_ { display:block !important; }