p, a, h1, h2, h3 {
    font-family: helvetica;
}

a {
    color: #a3b3bf;
}

p {
    color: #5e686f;
}

.container {

    // margin: 0 auto;
    // overflow: hidden;
}






    // header------------------------------
header {
    max-width: 100%;
    height: 528px;
    margin-bottom: 76px;
    background: url("../images/surf.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
    overflow: hidden;
    .company_name {
        font-size: 5em;
        font-weight: bold;
        text-align: center;
        margin-top: 65px;
        margin:65px auto 0 auto;
        color: white;
    }
    .project_name {
        text-align: center;
        color: white;
        margin-top:5px;
    }
}

.left-nav {
    width: 80%;
    clear: left;
    display: inline-block;
    margin-left: 48px;
    margin-top: 60px;
    font-size: 18px;
    text-decoration: none;
    img {
        float: left;
        margin-right: 10px;
    }
    p {
        margin-top: 15px;
        color: #083452;
        text-align: center;
    }
}

.right-nav {
    margin-right: 90px;
    margin-top: 10px;
    float: right;
    li {
        float: left;
    }
    a {
        text-decoration: none;
        color: #083452;
        font-size: 18px;
    }
}

.left-margins {
    margin-left: 25px;
}

.icon-margin {
    margin-left: 14px;
}

#icon-align {
    position: relative;
    bottom: 5px;
}


// article_part1----------------------------------------------

section {
    // min-width: 35%;
    // background:red;
    // float: left;
    // background:red;
    p {
        line-height: 1.4em;
        font-size:1.25em;
        max-width: 90%;
        margin-left:30px;
    }
    p:nth-child(1) {
        margin-top: 76px;
    }
}

article {
    max-width: 621px;
    // margin-left: 162px;
    text-align: left;
    float: left;
    h1 {
        font-size: 30px;
        line-height: 1.4em;
        color: #083452;
        text-align: center;
        // margin-bottom: 14px;



    }
    div {
        img {
            max-width: 23px;
            margin-left: 60px;
            margin-bottom: 26px;
        }
        p {
            display: inline;
            position: relative;
            // left: 5px;
            bottom: 30px;
            color: #5e686f;
            span {
                color: #a3b3bf;
                font-size: 13px;
            }
        }
    }
}
// woah----------------------------------

#padding_left {
    display: inline;
    position: relative;
    left: 15px;
    top: 42px;
    font-size: 30px;
    color: #106db3;
    border-left: 2px solid #a3b3bf;
    padding: 18px 0 6px 16px;
    margin-bottom: 20px;
}

// article two--------------------------------------------------------------------
.article-two a {
    color: #106db3;
}


/* article nav---------------------------------------------------------------------*/

.article-nav {
    // .nav {
    //     width: 292px;
    //     height: 30px;
    //     background:red;
    //     // display:inline-block;
    //     margin-top: 52px;
    //     margin-right: 10px;
    //     position: relative;
    //     left: 95px;
    //     // float:left;

    // }
    .baby_nav {
        max-width: 32px;
        height: 30px;
        background: #5e686f;
        float: left;
         margin:20px 15px 95px 68px;

    }
    .big_nav {
        display:none;
    }
    .baby_change {
        background: #083452;
    }
    // .big_change {
      
    //      // background: #106db3;
    //      // text-decoration: none;
    //  }
}

// aside--------------------------------





aside img {
    display: block;
    margin: 0 auto;
}

aside nav {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

aside nav a {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-right: 60px;
}

aside p {
    float: left;
    margin-left: 22px;
    margin-top: 35px;
    margin-bottom: 14px;
}

aside h3 {
    text-align: left;
    font-weight: bold;
    color: #083452;
    clear: right;
    margin-top: 80px;
    margin-left: 60px;
    font-size: 18;
}

aside #left_align {
    text-align: left;
    line-height: 24px;
    font-size: 14px;
    float: left;
    width: 278px;
    position: relative;
    // right: 22px;
    bottom: 26px;
     left:37px;
    color: #a3b3bf;
}


/*posts------------------------------------------------------------*/
hr {
    clear: both;
    position: relative;
    top: 68px;
    margin-bottom:90px;
}

div {
    h2 {
        width: 300px;
        font-size: 60px;
        margin-top: 110px;
        margin-bottom: 40px;
        text-align: center;
        margin: 0 auto;
    }
    .post_photos {
        height: 330px;

        p {
            display: inline-block;
            position: relative;
            top: 285px;
            left: 8px;
            font-size: 30px;
            color: #083452;
        }
    }
    span {
        font-size: 30px;
        font-family: helvetica;
        color: white;
        position: relative;
        display: inline-block;
    }
    #brew_text {
        top: 285px;
        left: 8px;
    }
    #zack_text {
        top: 250px;
        left: 8px;
        color: #083452;
    }
    .surfer_photo {
        background: url("../images/surfer.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        max-width: 100%;
        
    }
    .beer_photo {
        background: url("../images/beer.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        max-width: 100%;
    }
    .zack_photo {
        background: url("../images/zack.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        max-width: 100%;
    }
    .booze_photo {
        background: url("../images/booze.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        max-width: 100%;
    }
}



footer {
    background: #083452;
    height: 96px;
    width: 1300px;
    clear: both;
    img {
        position: relative;
        left: 165px;
        top: 30;
    }
    p {
        display: none;
        position: relative;
        font-size: 14px;
        left: 172px;
        top: 18px;
        color: #a3b3bf;
    }
    nav {
        float: right;
        margin: 44px 130px 0 0;
    }
    a {
        float: left;
        text-decoration: none;
        font-size: 14px;
    }

}
