@import "reset";
@import "mediaqueries";



@media screen and (min-width: 500px) {

/*banner content--------------------------------------*/
header {
 
    .company_name {
        font-size: 5.625em;
        // font-weight: bold;
        // text-align: center;
         margin-top: 200px;
        // color: white;
    }
    // .project_name {
    //     text-align: center;
    //     color: white;
    //     margin-right: 18px;
    // }
}

.left-nav {
    float: left;
    width: 300px;
    clear: left;
    margin-left: 35px;
    margin-top: 10px;
    // font-size: 18px;
    // text-decoration: none;
    // img {
    //     float: left;
    //     margin-right: 10px;
    // }
    // p {
    //     margin-top: 15px;
    //     color: #083452;
    // }
}

.right-nav {
    margin-right: 50px;
    margin-top: 25px;
    float: right;
    // li {
    //     float: left;
    // }
    // a {
    //     text-decoration: none;
    //     color: #083452;
    //     font-size: 18px;
    // }
}

// .left-margins {
//     margin-left: 25px;
// }

// .icon-margin {
//     margin-left: 14px;
// }

// #icon-align {
//     position: relative;
//     bottom: 5px;
// }

/*article_part1----------------------------------------------*/

section {
    // max-width: 780px;
    // background:red;
    margin-left:100px;
    float: left;
    p {
        line-height: 25px;
    }
    p:nth-child(1) {
        margin-top: 76px;
    }
}

article {
    // max-width: 621px;
     // margin-left: 62px;
    // text-align: left;
    // float: left;
    h1 {
        font-size: 50px;
        line-height: 58px;
        // color: #083452;
        margin-bottom: 14px;
    }
    div {
        img {
            // max-width: 23px;
            margin-left: 34px;
            margin-bottom: 26px;
        }
        p {
            display: inline;
            position: relative;
            left: 50px;
            bottom: 30px;
            color: #5e686f;
            span {
                color: #a3b3bf;
                font-size: 13px;
            }
        }
    }
}

/*WOAH--------------------------------------------------------------------------*/

#padding_left {
    // display: inline;

    // position: relative;
    left: 28px;
    // top: 42px;
    // font-size: 30px;
    // color: #106db3;
    // border-left: 2px solid #a3b3bf;
    // padding: 18px 0 6px 16px;
    // margin-bottom: 20px;
}

// article two--------------------------------------------------------------------
// .article-two a {
//     color: #106db3;
// }

/* article nav---------------------------------------------------------------------*/

.article-nav {
    .nav {
        // width: 162px;
        float:left;


    //     background:red;
    //     height: 30px;
    //      float: left;
    //    margin-top: 22px;
         // margin-right: 0px;
        position: relative;
        top:30px;
       left:70px;
     }
    .baby_nav {
        margin:0px 15px 0px 0px;
        // margin-right:0px;
        // max-width: 32px;
        // height: 30px;
        // background: #5e686f;
    }
    .big_nav {
        display: inline-block;
        max-width: 174px;
        height: 30px;
        background: #a3b3bf;

         position: relative;
         right: 15px;
          // top: 0px;
         color: white;
        text-align: center;
        line-height: 30px;
        font-family: helvetica;
        font-size: 14px;
        padding:0 5px 0 5px; 
    }
    // .baby_change {
    //     background: #083452;
    // }
     .big_change {
       background: #106db3;
         text-decoration: none;
    }
}

/*aside----------------------------------------------*/

aside {
    display:none;
    max-width: 278px;
    margin-top: 5px;
    margin-right: 160px;
    float: right;
}

aside img {
    display: block;
    margin: 0 auto;
}

aside nav {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

aside nav a {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}

.float-right {
    float: right;
}

aside p {
    float: left;
    margin-left: 22px;
    margin-top: 35px;
    margin-bottom: 54px;
}

aside h3 {
    text-align: left;
    font-weight: bold;
    color: #083452;
    clear: right;
    margin-top: 80px;
    font-size: 18;
}

aside #left_align {
    text-align: left;
    line-height: 24px;
    font-size: 14px;
    float: left;
    width: 278px;
    position: relative;
    right: 22px;
    bottom: 26px;
    color: #a3b3bf;
}

/*posts------------------------------------------------------------*/

hr {
    clear: both;
    position: relative;
    top: 68px;
}

div {
    h2 {
        width: 100%;
        // font-size:
        font-size: 50px;
        margin-top: 110px;
        margin-bottom: 40px;
        // text-align: center;
    }
    .post_photos {
        background-repeat:no-repeat;
        background-size:cover;
        min-width: 50%;
        float:left;
        // width: 325px;
        height: 330px;
         // float: left;
        p {
            display: inline-block;
            position: relative;
            top: 285px;
            left: 8px;
            font-size: 30px;
            color: #083452;
        }
    }
    span {
        font-size: 30px;
        font-family: helvetica;
        color: white;
        position: relative;
        display: inline-block;
    }
    #brew_text {
        top: 285px;
        left: 8px;
    }
    #zack_text {
        top: 250px;
        left: 8px;
        color: #083452;
    }
    .surfer_photo {
        background: url("../images/surfer.jpg");
        }
    .beer_photo {
        background: url("../images/beer.jpg");
      }
    .zack_photo {
        background: url("../images/zack.jpg");
            
    }
    .booze_photo {
        background: url("../images/booze.jpg");
    }
}

/*footer-------------------------------------------------------------------*/

footer {
    background: #083452;
    height: 96px;
    width: 100%;
    clear: both;
    img {
        position: relative;
        left: 165px;
        top: 30;
    }
    p {
        display: inline;
        position: relative;
        font-size: 14px;
        left: 172px;
        top: 18px;
        color: #a3b3bf;
    }
    nav {
        float: right;
        margin: 44px 130px 0 0;
    }
    a {
        float: left;
        text-decoration: none;
        font-size: 14px;
    }
}
}
