@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

@import "bootchange";

.carousel-control.left, .carousel-control.right{
   background:none;
}

.navbar-default .navbar-toggle {
    border-color:white;

}

.carousel-caption1{
    text-align: left;
    font-size:25px;
    color:white;
    margin-left:12%;
    font-family: "proxima-nova",sans-serif;
font-style: normal;
font-weight: 700;
}

/* colors
===================================*/

$iconred: #fd4950;
$mainblue: #34495e;
$lightblue: #9fa9b2;
$buttongreen: #96d59e;




/* Base Styles
===================================*/
body {
    color: #183532;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8;

}

/* Layout Styles
===================================*/
// section:not(:first-of-type),
// section:not(:nth-of-type(n2)) {
//     margin-top: 0px;
// }


.section-three,
.main-price-contain,
.whatis-section,
.section-one-content,
.main-rental-contain,
footer {
    margin-top: 150px;

}

.carousel-inner {}

/* Nav / Navbar Styles
===================================*/
.navbar {
 
    background:transparent;
    border-bottom: none;
    padding: 10px 0 10px;
    transition-duration: 0.6s;
    z-index:1;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #183532;
}

.navbar-default .navbar-nav > li {
    margin-right: 8px;
}

.navbar-default .navbar-nav > li:last-of-type {
    margin-right: 0;
}

.dropdown-menu,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background:$mainblue;
    color: $iconred;
}

.dropdown-menu {
    padding: 48px;
    box-shadow: none;
    border: none;
    background: white;
}

.dropdown-menu li a {
    padding: 4px 8px;
    border-radius: 6px;
}

.nav-dropdown-scroll {
    background: #e7eaea;
    // box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    
}

/* Cover / Jumbotron Styles
===================================*/
section.cover {
    // padding-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}


 .prices-bar ,.rental-bar {
        background: $mainblue;
        height: 50px;

    }

.section-one-content {

    h2 {
        text-align: center;
    }
   
    .prices-circle {
        margin: 0 auto;
        position: relative;
        bottom: 50px;
        width: 90px;
        height: 90px;
        background-color: $iconred;
        background-image: url('../images/ticket1.png');
        background-repeat:no-repeat;
        background-position:14px 14px;
        border-radius: 50px;

    }
    ul {
        margin-top: 4px;
    }
    li {
   
        text-align: center;
        background: #ebebeb;
        margin-top: 4px;
    }

    .cable-color{
    background:$lightblue;
}
}




.img-fix {
    width: 100%;
   
}


// /* To Top Button Styles
// ===================================*/
.top {
    display: none;
    background-color: $iconred;
    bottom: 2em;
    color: #FFF;
    opacity: 0.8;
    padding: 1.2em;
    position: fixed;
    right: 1.5em;
    text-decoration: none;
    transition-duration: 1s;
}

.top:hover {
    opacity: 1;
    transition: 1s;
    text-decoration: none;
    color: #fff;
}

/* Footer Styles
===================================*/
footer {
    height: 200px;
    width: 100%;
    background: #283332;
}

/* Helpers for top position on internal page links
====================================================*/
#spytop:before,
section:before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
}

/* Media Styles
===================================*/
@media (min-width: 480px) {
    body {
        font-size: 18px;
    }
}

// .carousel-caption{
// 	p{
// 	position:relative;
// 	bottom:100px;
// 	right:20%;
// 	color:red;
// 	font-size:3em;
// }

/* jQuery Styles
===================================*/
.navbar-scroll {
     background:white;
    padding: 0;
    // box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition-duration: 0.6s;
}

/* prices
===================================*/
.small-ul {
    font-size: 20px;
}

.big-ul {
    font-size: 40px;
}

.main-rental-contain {
    margin-left: 15px;
    margin-right: 15px;
    h2 {
        text-align: center;
        margin-bottom: 75px;
    }
    .rental-bar {
        background:$mainblue;
        height: 50px;
        margin-top: 20px;
        .rental-circle {
            width: 100px;
            height:100px;
            background: $iconred;
             border-radius: 50px;
            position: relative;
            bottom: 60px;
            margin: 0 auto;
        }
    }
    .rental-prices {
        background: #F1F1F1;
       
        text-align: center;
        margin-top: 4px;
    }
}
/* map
===================================*
*/
.embed-container{
	margin-top:150px;
}





.map-contain{
	width:100%;
	
}




.about-section{
  width: 100%;
  padding-top:0px;
  padding-bottom:0px;

 
 



  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  background-color:#373235;
}


.spring-back{
      -webkit-transform: skewY(2deg);
  -moz-transform: skewY(5deg);
  -o-transform: skewY( 5deg);
 



}


@import "mediaqueries";